:root {
    --TopPX: 40px;
}

* {
    cursor: none;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}
body {
    height: calc(100vh - var(--TopPX));
    background-image: url("back.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--TopPX);
}
#cursor {
    background-image: url("cursor.png");
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    aspect-ratio: 22/52;
    background-size: cover;
    pointer-events: none;
    cursor: none;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    mix-blend-mode: difference;
}
#topBar {
    height: var(--TopPX);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
